---
import PageLayout from '@/layouts/PageLayout.astro'
import { getCollection, getEntry } from 'astro:content'
import Highlight from '@/components/Highlight.astro'
import FrinedList from '@/components/FrinedList.astro'
import MarkdownWrapper from '@/components/MarkdownWrapper.astro'

const friends = await getCollection('friends')

const md = await getEntry('spec', 'friends')

const { Content } = await md.render()
---

<PageLayout title={md.data.title} description={md.data.description}>
  <div class="max-w-[800px] mx-auto px-4 py-16 space-y-8">
    <header class="space-y-4">
      <h1 class="text-4xl font-bold">
        <Highlight>{md.data.title}</Highlight>
      </h1>
      <p>{md.data.description}</p>
    </header>
    <FrinedList friends={friends} />
    <MarkdownWrapper>
      <Content />
    </MarkdownWrapper>
  </div>
</PageLayout>
