---
import Layout from './Layout.astro'
import HeadGadient from '@/components/HeadGadient.astro'
import Footer from '@/components/footer/Footer.astro'
import { Header } from '@/components/header/Header'
import { SearchPanel } from '@/components/SearchPanel'
import { BackToTopFAB } from '@/components/BackToTopFAB'
import { Provider } from '@/components/provider/Provider'

interface Props {
  title: string
  description?: string
  image?: string
  mdTitle: string
  mdDescription: string
  mdSlug: string
}

const { title, description, image, mdTitle, mdDescription, mdSlug } = Astro.props
---

<Layout title={title} description={description} image={image}>
  <Provider
    pathName={Astro.url.pathname}
    title={mdTitle}
    description={mdDescription}
    slug={mdSlug}
    client:only="react"
    transition:persist
  />

  <Header client:only="react" />
  <main class="relative z-1 pt-16 min-h-main bg-primary">
    <HeadGadient />
    <slot />
  </main>
  <Footer />

  <BackToTopFAB client:only="react" />
  <SearchPanel client:only="react" />
</Layout>
