---
import Layout from './Layout.astro'
import { HeadGradient } from '@/components/head-gradient'
import Footer from '@/components/footer/Footer.astro'
import { Header } from '@/components/header/Header'
import { SearchPanel } from '@/components/SearchPanel'
import { BackToTopFAB } from '@/components/BackToTopFAB'
import { Provider } from '@/components/provider/Provider'
import { ToastContainer } from '@/components/ToastContainer'
import { ModalStack } from '@/components/ui/modal'
import 'katex/dist/katex.min.css'

interface Props {
  title: string
  description?: string
  image?: string
  mdTitle: string
  mdDescription: string
  mdSlug: string
}

const { title, description, image, mdTitle, mdDescription, mdSlug } = Astro.props
---

<Layout title={title} description={description} image={image}>
  <Provider
    pathName={Astro.url.pathname}
    title={mdTitle}
    description={mdDescription}
    slug={mdSlug}
    client:only="react"
  />

  <Header client:only="react" transition:persist="header" />
  <main class="relative z-1 pt-16 min-h-main bg-primary">
    <HeadGradient client:idle />
    <slot />
  </main>
  <Footer />

  <BackToTopFAB client:only="react" />
  <SearchPanel client:only="react" />
  <ToastContainer client:only="react" />
  <ModalStack client:only="react" />
</Layout>
